{% extends 'base.html.twig' %}

{% block title %}Modifer mon mot de passe - Boutique Sếp péo
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<h2>Modifier mon mot de passe</h2>
		</div>
		<div class="col-md-3">
			<a href="{{ path('account') }}" class="btn btn-light btn-sm float-right">
				<i class="fas fa-undo-alt"></i>
				Retour</a>
		</div>
	</div>
	<hr>
	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	{{ form(form) }}{% endblock %}
