{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Boutique Sếp péo
{% endblock %}


{% block content %}
	<h2>Nous contacter</h2>
	<p>
		N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>

	<hr>

	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row mb-5">
		<div class="col-md-8">
			{{ form(form) }}
			</div>
			<div class="col-md-4">
				<b>Boutique Sếp péo</b>
				<hr>
				<i class="fas fa-phone-alt"></i>
				+33 99 99 99 999
				<br/>
				<i class="fas fa-map-marker-alt"></i>
				9 rue Lilas, 75000 Paris, FR
				<br/>
				<i class="fas fa-envelope"></i>
				contact@boutiqueseppeo.com
			</div>
		</div>

	{% endblock %}
